[submodule "app/src/main/java/com/sryang/torangimagepager/di/repository"]
	path = app/src/main/java/com/sryang/torangimagepager/di/repository
	url = https://github.com/sarang628/repository.git
[submodule "gradle/TorangToml"]
	path = gradle/TorangToml
	url = https://github.com/sarang628/TorangToml.git
